
* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 30px;
  font-family: 'Segoe UI', sans-serif;
  color: #222;
  overflow-x: hidden;
  position: relative;

 
  background:
    radial-gradient(circle at 10% 20%, #dfcaff 0%, transparent 40%),
    radial-gradient(circle at 90% 30%, #fefefe 0%, transparent 40%),
    radial-gradient(circle at 20% 80%, #81afd5 0%, transparent 40%),
    radial-gradient(circle at 80% 90%, #f4f7f5 0%, transparent 40%),
    linear-gradient(135deg, #fdfbfb, #5902ab);
}


body::before {
  content: "";
  position: absolute;
  top: -150px;
  left: -100px;
  width: 700px;
  height: 500px;
  background: #ff6ec4;
  border-radius: 60% 40% 70% 30% / 50% 60% 40% 50%;
  opacity: 0.2;
  z-index: 0;
}

body::after {
  content: "";
  position: absolute;
  bottom: -200px;
  right: -150px;
  width: 800px;
  height: 600px;
  background: #7873f5;
  border-radius: 40% 60% 30% 70% / 60% 40% 60% 40%;
  opacity: 0.2;
  z-index: 0;
}


.section-box {
  background: white;
  padding: 25px;
  margin-top: 40px;
  border-radius: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 1;
}


.section-box h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 22px;
}


table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 15px; /* space between rows */
}


thead th {
  text-align: left;
  padding: 12px 15px;
  font-size: 14px;
}


tbody tr {
  background: white;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}


tbody td {
  padding: 18px 20px;
  background: white;
  border-right: 1px solid #eee;
  vertical-align: middle;
}


tbody td:last-child {
  border-right: none;
}


tbody tr td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

tbody tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


tbody td:last-child {
  border-right: none;
}


tbody tr td:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

tbody tr td:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}